* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
}
.container {
  width: 1740px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.reg-container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 20px;
}
.btn-reg {
  background-color: #028e9b;
  color: white;
  margin-bottom: 20px;
}
.reg-link__btn {
  display: flex;
  justify-content: center;
}
